@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 812px;
  width: 375px;
  background-color: #f7f8f9;
  font-family: "Rubik", sans-serif;
}

/* Home */

.home {
  display: flex;
  flex-direction: column;
}

.home .heading {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 549px;
  height: 33px;
}

.home .heading h1 {
  color: #1d2226;
  text-align: left;
  font-size: 28px;
  font-weight: 500;
  padding: 2px;
  letter-spacing: 0px;
}

.home p {
  color: #1d2226;
  opacity: 0.6;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  margin-left: 20px;
  margin-right: 123px;
  margin-bottom: 29px;
  margin-top: 10px;
}

.home .btn-1 button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 335px;
  height: 46px;
  background: #6c25ff;
  border: transparent;
  border-radius: 6px;
  letter-spacing: 0px;
  opacity: 1;
  text-align: center;
  line-height: 17px;
  cursor: pointer;
}

.home .btn-1 button:hover {
  opacity: 0.9;
}

.home .btn-2 button {
  width: 335px;
  height: 46px;
  opacity: 1;
  background-color: #6c25ff4b;
  color: #1d2226;
  letter-spacing: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 41px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
}

.home .btn-2 button:hover {
  opacity: 0.9;
}

/* Login */

.login {
  display: flex;
  flex-direction: column;
}

.login h1 {
  color: #1d2226;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  margin-top: 40px;
  margin-left: 20px;
}

.login p {
  color: #1d2226;
  opacity: 0.6;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 123px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 24px;
  font-weight: 400;
}

.forminput {
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 40px;
  position: static;
  /* border: 1px solid #cbcbcb; */
  border-radius: 6px;
}

.forminput label.text {
  font-size: 13px;
  color: #6c25ff;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #f7f8f9;
  width: fit-content;
  height: 15px;
}

.forminput label::placeholder {
  color: #1d2226;
  opacity: 0.6;
}

.forminput input[type="text"].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  background: #f7f8f9;
}

.forminput input[type="text"].input:focus {
  outline: none;
}

.login .btn-3 button {
  background-color: #cbcbcb;
  border-radius: 6px;
  border: transparent;
  height: 46px;
  width: 335px;
  margin-left: 20px;
  margin-top: 14px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.login .btn-3 button:hover {
  opacity: 0.9;
}

/* Create Account */

.create-acc {
  display: flex;
  flex-direction: column;
}

.create-acc h1 {
  color: #1d2226;
  font-size: 28px;
  font-weight: 500;
  align-items: left;
  margin-left: 20px;
  margin-top: 40px;
}

.req {
  color: #dd4a3d;
}

.create-acc .radio p {
  color: #1d2226;
  font-size: 13px;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 10px;
}

.create-acc .radio .radio-btn {
  color: #1d2226;
  font-size: 14px;
  text-align: left;
  margin-left: 12px;
  margin-right: 23px;
  margin-top: 13px;
}

input[type="radio"]#yes,
input[type="radio"]#no {
  accent-color: #6c25ff;
}

.create-acc button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  width: 335px;
  height: 46px;
  background: #6c25ff;
  border: transparent;
  border-radius: 6px;
  letter-spacing: 0px;
  opacity: 1;
  text-align: center;
  line-height: 17px;
  cursor: pointer;
  margin-top: 215px;
}

.create-acc button:hover {
  opacity: 0.9;
}

/* Account Settings */

.acc-heading {
  height: 68px;
  width: 375px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000007;
}

.acc-heading h1 {
  font-size: 18px;
  text-align: left;
  color: #1d2226;
  padding-left: 15px;
  padding-top: 27px;
  font-weight: 400;
}

.profile-section {
  display: flex;
  flex-direction: column;
}

.profile-section .section-1 {
  display: flex;
}

.profile-picture {
  position: relative;
  height: 76px;
  width: 76px;
  margin-left: 20px;
  margin-top: 30px;
}

.camera {
  position: absolute;
  height: 23px;
  width: 21px;
  margin-left: -17px;
  margin-top: 72px;
}

.name-email {
  text-align: left;
  color: #1d2226;
  margin-left: 37px;
  margin-top: 30px;
}

.name-email h2 {
  font-size: 15px;
  font-weight: 500;
}

.name-email p {
  font-size: 14px;
  font-weight: 400;
}

.info {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
  margin-right: 18px;
}
